VITE_TASKFLOW_API_URL=http://localhost:5172
VITE_STRIPE_PAYMENT_LINK_STARTUP=https://buy.stripe.com/test_5kQ3cvcOfeqCaOH2eh3wQ00
VITE_STRIPE_PAYMENT_LINK_BUSINESS=https://buy.stripe.com/test_14AeVd4hJgyK1e73il3wQ01
VITE_STRIPE_PAYMENT_LINK_ENTERPRISE=https://buy.stripe.com/test_fZu28rdSjbeqf4XbOR3wQ02
